<p id="notice"><%= notice %></p>

<h1>Contatos</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Telefone</th>
      <th>Email</th>
      <th>Curso</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contatos.each do |contato| %>
      <tr>
        <td><%= contato.nome %></td>
        <td><%= contato.telefone %></td>
        <td><%= contato.email %></td>
        <td><%= contato.curso %></td>
        <td><%= link_to 'consulta', contato %></td>
        <td><%= link_to 'editar', edit_contato_path(contato) %></td>
        <td><%= link_to 'deletar', contato, method: :delete, data: { confirm: 'tem certeza disso ?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'novo contato', new_contato_path %>
